{:paths ["src/clj"] 
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.scicloj/noj {:mvn/version "2-beta19.1"}
        ;org.scicloj/noj {:mvn/version "2-beta18" :exclusions [generateme/fastmath]}
        ;generateme/fastmath {:mvn/version "3.0.0-alpha4-SNAPSHOT"}

        ;org.scicloj/metamorph.ml {:mvn/version "1.1.1"} ; for tablecloth examples
        ;org.clojure/data.json {:mvn/version "2.5.1"}
        ;metosin/jsonista {:mvn/version "0.3.13"} ; generate json from edn for debugging
       }

 ;; Neanderthal needs this:
 :mvn/repos {"maven-central-snapshots" {:url "https://central.sonatype.com/repository/maven-snapshots"}}

 :aliases {:nrepl-server {:extra-deps {nrepl/nrepl {:mvn/version "1.6.0-alpha2"}}
                                     ;{nrepl/nrepl {:mvn/version "1.0.0"}}
                          :main-opts  ["-e" "(require '[scicloj.clay.v2.api :as clay])"
                                       "-m" "nrepl.cmdline"]}
           :production {:jvm-opts ["-Xms4g"   ; initial heap
                                   "-Xmx20g"  ; max heap
                                   "-Xss1g"]} ; max per-thread stack size (s/b smaller?)
                                   ;"-XX:TieredStopAtLevel=4"  ; no longer needed >= Java 8 (?)
           :smallproduction {:jvm-opts ["-Xms4g" ; initial heap
                                        "-Xmx8g" ; max heap
                                        "-Xss1g"]} ; max per-thread stack size (s/b smaller?)
                                       ;"-XX:TieredStopAtLevel=4"  ; no longer needed >= Java 8 (?)
           :bench {:extra-deps {criterium/criterium {:mvn/version "0.4.6"}}}
           :profile {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.6.2"}}
                     ;; Will be merged with jvm-opts from other aliases used on same commandline:
                     :jvm-opts ["-Djdk.attach.allowAttachSelf"   ; for clj-async-profile: needed for JDK11+
                                ;; NOTE are these still needed?
                                "-XX:+UnlockDiagnosticVMOptions" ; for clj-async-profiler 
                                "-XX:+DebugNonSafepoints"]}      ; for clj-async-profiler

           ;; uncomplicate.org you should use Leiningen, but this seems to
           ;; work with the addition of the :mvn/repos above.
           ;; Also note that the sample project.clj says 
           ;; FOR PRODUCTION USE, PLEASE USE org.uncomplicate/neanderthal-base AND OTHER PARTICULAR DEPENDENCIES
           :neanderthal {:extra-deps {uncomplicate./neanderthal {:mvn/version "0.60.2"}
                                      org.bytedeco/openblas {:mvn/version "0.3.30-1.5.12"}}
                         :jvm-opts ["-Dclojure.compiler.direct-linking=true"
                                    "--enable-native-access=ALL-UNNAMED"]} ; end of :neanderthal :extra-deps
          } ; end of :aliases
}
